.navbar {
    background-color: black;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 2rem;
}